.main-window {
    -fx-background-color: rgba(10, 201, 255, 0.68);
    -fx-border-color: #4d859a;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-font-family: "Gunship Condensed IFSCL";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #0AC9FF44, 10, 0, 0, 0);
}

.minimized {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.title-bar {
    -fx-background-image: url('/static/images/title-bar.png');
    -fx-background-repeat: repeat-x;
    -fx-background-size: cover;
    -fx-pref-height: 25px;
}

.status-bar {
    -fx-background-image: url('/static/images/status-bar.png');
    -fx-background-repeat: repeat-x;
    -fx-background-size: cover;
    -fx-pref-height: 24px;
}

.minimize-btn, .shrink-btn, .close-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-content-display: graphic-only;
}

.minimize-btn {
    -fx-background-image: url('/static/images/minimize-btn.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-pref-width: 80px;
    -fx-pref-height: 13px;
}

.minimize-btn:hover {
    -fx-background-image: url('/static/images/minimize-btn-hover.png');
}

.minimize-btn:pressed {
    -fx-background-image: url('/static/images/minimize-btn-pressed.png');
}

.shrink-btn {
    -fx-background-image: url('/static/images/shrink-btn.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-pref-width: 80px;
    -fx-pref-height: 13px;
}

.shrink-btn:hover {
    -fx-background-image: url('/static/images/shrink-btn-hover.png');
}

.shrink-btn:pressed {
    -fx-background-image: url('/static/images/shrink-btn-pressed.png');
}

.close-btn {
    -fx-background-image: url('/static/images/close-btn.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-pref-width: 31px;
    -fx-pref-height: 13px;
}

.close-btn:hover {
    -fx-background-image: url('/static/images/close-btn-hover.png');
}

.close-btn:pressed {
    -fx-background-image: url('/static/images/close-btn-pressed.png');
}

.button {
    -fx-font-size: 12px;
    -fx-padding: 4 8 4 8;
    -fx-cursor: hand;
}

.btn-primary {
    -fx-background-color: #0AC9FF;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.btn-primary:hover {
    -fx-background-color: #07a7cc;
}

.btn-action {
    -fx-background-color: #339933;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.btn-action:hover {
    -fx-background-color: #267326;
}

.btn-info {
    -fx-background-color: #5bc0de;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.btn-info:hover {
    -fx-background-color: #31b0d5;
}

.btn-danger {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.btn-danger:hover {
    -fx-background-color: #c9302c;
}